---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//main
.mainIntroWrap {

    .mainImg {
        border-left: .1rem solid #ddd;
        border-right: .1rem solid #ddd;

        img {
            width: 100%;
        }
    }

    .postListWrap {
        padding: 3rem 0;
        border-top: .1rem solid #ddd;

        .postList {
            padding: 2rem;
            margin-bottom: 3rem;
            border: .1rem solid #ddd;

            ul {
                li {
                    position: relative;
                    padding-left: .8rem;
                    margin-top: .5rem;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: .3rem;
                        height: .1rem;
                        top: .8rem;
                        left: 0;
                        background-color: #999;
                    }
                    
                    a {
                        font-size: 1.4rem;
                        color: #222;

                        &.title {
                            display: block;
                            font-weight: bold;
                        }

                        &.counter {
                            font-size: 1.2rem;
                            color: #aaa;
                        }
                    }

                    p {
                        display: inline;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .pagination {
        text-align: center;
        font-size: 1.2rem;

        a:hover {
            text-decoration: none;
        }

        .arrow {
            position: relative;

            em {
                font-size: 0;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 0;
                height: 0;
                margin: auto 0;
                border: .6rem solid #999;
                border-top-color: rgba(0,0,0,0);
                border-bottom-color: rgba(0,0,0,0);
            }
        }

        .prev {
            margin-right: 1rem;

            &:after {
                left: 0;
                border-left: 0;
            }
        }

        a.prev {
            color: #666;
            font-weight: bold;

            &:after {
                border-right-color: #666;
            }
        }

        .num {
            padding: .2rem .6rem;
            border: .1rem solid #999;
            line-height: 1;
            color: #999;
        }

        span.num {
            color: #666;
            border-color: #666;
            font-weight: bold;
        }

        .next {
            margin-left: 1rem;

            &:after {
                right: 0;
                border-right: 0;
            }
        }

        a.next {
            color: #666;
            font-weight: bold;

            &:after {
                border-left-color: #666;
            }
        }
    }
}

//post index
.postListWrapper {
    padding: 5rem 0;

    .postTitle {
        padding-bottom: 2rem;

        h1 {
            font-size: 2rem;
            font-weight: normal;
            color: #555;
        }
    }

    .postListWrap {
        .postList {
            ul {
                li {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    padding: .2rem 0 .1rem;
                    margin-top: .1rem;
                    border-bottom: .1rem solid #ddd;

                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        box-sizing: border-box;
                        display: table-cell;
                        width: auto;
                        padding-left: 1.5rem;
                        font-size: 1.2rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: left;
                        overflow: hidden;

                        &:hover {
                            color: #ccc;
                            text-decoration: none;
                        }
                    }

                    span {
                        box-sizing: border-box;
                        display: table-cell;
                        width: 30%;
                        padding-right: 1.5rem;
                        font-size: 1.1rem;
                        text-align: right;
                    }
                }
            }
        }

        p {
            font-size: 1.1rem;
            text-align: right;
            color: #999;
            padding-right: 1.5rem;

            a {
                color: #999;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

//post contents
.postInfoWrapper {
    padding: 5rem 0 3rem;
    border-bottom: .1rem solid #ddd;

    .postTitle {
        padding-bottom: 2rem;
        text-align: center;

        h1 {
            font-size: 2.8rem;
            font-weight: normal;
        }

        p.post-meta {
            font-size: 1.2rem;
            color: #999;
        }
    }

    .postContent {
        font-size: 1.6rem;
        color: #666;
    }

    .pageNavigation {
        padding: 4rem 0 3rem;
        text-align: center;

        a {
            position: relative;
            display: inline-block;
            font-size: 1.4rem;
            color: #999;
            line-height: 1;

            .listIndex {
                display: block;
                padding: .2rem .6rem;
                border: .1rem solid #999;
                line-height: 1;
                color: #999;
            }

            &:hover {
                text-decoration: none;
            }

            &.arrow {
                em {
                    font-size: 0;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    margin: auto 0;
                    border: .6rem solid #999;
                    border-top-color: rgba(0,0,0,0);
                    border-bottom-color: rgba(0,0,0,0);
                }
            }

            &.prev {
                padding-left: 1rem;
                margin-right: 1rem;

                &:after {
                    left: 0;
                    border-left: 0;
                }
            }

            &.next {
                padding-right: 1rem;
                margin-left: 1rem;

                &:after {
                    right: 0;
                    border-right: 0;
                }
            }
        }
    }

    .postListWrap {
        padding: 2rem;
        border: .1rem solid #ccc;

        .postList {
            ul {
                li {
                    padding-top: 1rem;

                    &:first-child {
                        padding-top: 0;
                    }

                    a {
                        position: relative;
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        padding-left: 1rem;
                        font-size: 1.4rem;
                        line-height: 1;
                        color: #999;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            width: .4rem;
                            height: .1rem;
                            margin: auto 0;
                            background-color: #999;
                        }

                        .postMeta {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

.commentWrapper {
    padding-top: 3rem;
}
