---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//main
.mainIntroWrap {
    .postListWrap {
        padding: 5rem 0;

        .postList {
            ul {
                font-size: 1.6rem;
                color: #222;
                
                li {
                    position: relative;
                    padding-left: 1rem;

                    + li {
                        margin-top: 4.5rem;
                    }

                    &:before {
                        content: "\2022";
                        position: absolute;
                        top: .2rem;
                        left: 0;
                    }

                    a {
                        padding-bottom: .5rem;

                        &.counter {
                            font-size: 1.2rem;
                            color: #aaa;
                        }

                        .title {
                            display: block;
                            padding-bottom: .5rem;
                            font-size: 2.4rem;
                            line-height: 1;
                            font-weight: 300;
                        }

                        .date {
                            display: block;
                            margin-bottom: .5rem;
                            font-size: 1.2rem;
                            color: #999;
                        }
                    }

                    p {
                        display: inline;
                    }
                }
            }
        }
    }

    .pagination {
        text-align: center;
        font-size: 0;
        
        .arrow,
        .num {
            display: inline-block;
            padding: .7rem 1rem;
            margin: 0 .2rem;
            background: #ddd;
            font-size: 1.6rem;
            line-height: 1;

            &:active {
                background: #ccc;
            }
        }
    }
}

//post index
.postListWrapper {
    padding: 5rem 0;

    .postTitle {
        padding-bottom: 3rem;

        h1 {
            font-size: 2.8rem;
            line-height: 1;
            font-weight: normal;
            color: #407ccb;
        }
    }

    .postListWrap {

        &.tag {
            .tagPartWrap {
                padding-bottom: 3.5rem;

                .tagName {
                    font-size: 2.4rem;
                    line-height: 1;
                    padding-bottom: 1.5rem;
                }
            }
        }

        .postList {
            ul {
                font-size: 1.6rem;
                color: #222;
                
                li {
                    position: relative;

                    + li {
                        margin-top: 2rem;
                        padding-top: 2rem;
                        border-top: .1rem solid #ddd;
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        position: relative;
                        display: block;
                        padding-left: 1rem;

                        &:before {
                            content: "\2022";
                            position: absolute;
                            top: .4rem;
                            left: 0;
                            font-size: .6rem;
                        }

                        .title {
                            font-size: 2rem;
                            line-height: 1;
                        }

                        .date {
                            padding-left: .5rem;
                            font-size: 1.2rem;
                            line-height: 1;
                            color: #999;
                        }

                        .contents {
                            display: block;
                            padding-top: 1rem;
                            color: #666;

                            p {
                                display: inline;
                                padding-right: .5rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

//post contents
.postInfoWrapper {
    padding: 5rem 0 3rem;

    .postContents {
        padding-bottom: 1rem;

        .postTitle {
            padding-bottom: 2rem;
            text-align: center;

            h1 {
                font-size: 2.8rem;
                font-weight: normal;
            }

            p.post-meta {
                font-size: 1.2rem;
                color: #999;
            }
        }

        .postContent {
            font-size: 1.6rem;
            color: #666;

            p {
                a {
                    color: #08c;
                }
            }

            .tag {
                padding-top: 1rem;
                color: #999;

                i {
                    &:before {
                        position: relative;
                        top: .2rem;
                    }
                }

                a {
                    font-size: 1.4rem;
                    line-height: 1;
                    color: #999;

                    &:hover {
                        text-decoration: underline;
                    }

                    + a {
                        padding-left: .3rem;
                    }
                }
            }
        }
    }

    .pagination {
        padding: 2rem 0;
        font-size: 0;
        text-align: center;
        
        .arrow {
            display: inline-block;
            padding: .7rem 1rem;
            margin: 0 .2rem;
            background: #ddd;
            font-size: 1.6rem;
            line-height: 1;

            &:active {
                background: #ccc;
            }
        }
    }

    .postListWrap {
        margin-top: 1rem;
        padding: 2rem;
        border: .1rem solid #ccc;

        .postList {
            ul {
                li {
                    padding-top: 1rem;

                    &:first-child {
                        padding-top: 0;
                    }

                    a {
                        position: relative;
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        padding-left: 1rem;
                        font-size: 1.6rem;
                        color: #666;

                        &:before {
                            content: "\2022";
                            position: absolute;
                            top: .4rem;
                            left: 0;
                            font-size: .6rem;
                        }

                        .date {
                            font-size: 1.2rem;
                            color: #999;
                        }
                    }
                }
            }
        }
    }
}

.commentWrapper {
    padding-top: 3rem;
}
