---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.mainIntroWrap {
    margin-bottom: 3rem;
    border-bottom: .1rem solid #ddd;

    .mainImg {
        border-left: .1rem solid #ddd;
        border-right: .1rem solid #ddd;

        img {
            width: 100%;
        }
    }
}

.postListWrap {
    padding: 2rem;
    margin-bottom:  3rem;
    border: .1rem solid #ddd;

    .postList {
        ul {
            li {
                position: relative;
                padding-left: .8rem;
                margin-top: .5rem;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: .3rem;
                    height: .1rem;
                    top: .8rem;
                    left: 0;
                    background-color: #999;
                }
                
                a {
                    font-size: 1.2rem;
                }

                span {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.pagination {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;

    a:hover {
        text-decoration: none;
    }

    .arrow {
        position: relative;

        em {
            font-size: 0;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto 0;
            border: .6rem solid #999;
            border-top-color: rgba(0,0,0,0);
            border-bottom-color: rgba(0,0,0,0);
        }
    }

    .prev {
        margin-right: 1rem;

        &:after {
            left: 0;
            border-left: 0;
        }
    }

    a.prev {
        color: #666;
        font-weight: bold;

        &:after {
            border-right-color: #666;
        }
    }

    .num {
        padding: .2rem .6rem;
        border: .1rem solid #999;
        line-height: 1;
        color: #999;
    }

    span.num {
        color: #666;
        border-color: #666;
        font-weight: bold;
    }

    .next {
        margin-left: 1rem;

        &:after {
            right: 0;
            border-right: 0;
        }
    }

    a.next {
        color: #666;
        font-weight: bold;

        &:after {
            border-left-color: #666;
        }
    }
}