---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
    "variables",
    "syntax-highlighting"
;

.postInfoWrap {
    padding: 5rem 0 3rem;
}

.post-header {
    padding-bottom: 2rem;
    text-align: center;

    h1 {
        font-size: 2.8rem;
        font-weight: normal;
    }

    p.post-meta {
        font-size: 1.2rem;
        color: #999;
    }
}

.postContent {
    font-size: 1.6rem;
    color: #666;
}

.pageNavigation {
    padding: 4rem 0 3rem;
    text-align: center;

    a {
        position: relative;
        display: inline-block;
        font-size: 1.4rem;
        color: #999;
        line-height: 1;

        .listIndex {
            display: block;
            padding: .2rem .6rem;
            border: .1rem solid #999;
            line-height: 1;
            color: #999;
        }

        &:hover {
            text-decoration: none;
        }

        &.arrow {
            em {
                font-size: 0;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 0;
                height: 0;
                margin: auto 0;
                border: .6rem solid #999;
                border-top-color: rgba(0,0,0,0);
                border-bottom-color: rgba(0,0,0,0);
            }
        }

        &.prev {
            padding-left: 1rem;
            margin-right: 1rem;

            &:after {
                left: 0;
                border-left: 0;
            }
        }

        &.next {
            padding-right: 1rem;
            margin-left: 1rem;

            &:after {
                right: 0;
                border-right: 0;
            }
        }
    }
}

.postListWrap {
    padding: 2rem;
    margin-bottom:  3rem;
    border: .1rem solid #ccc;

    .postList {
        ul {
            li {
                padding-top: 1rem;

                &:first-child {
                    padding-top: 0;
                }

                a {
                    position: relative;
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    padding-left: 1rem;
                    font-size: 1.4rem;
                    line-height: 1;
                    color: #999;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: .4rem;
                        height: .1rem;
                        margin: auto 0;
                        background-color: #999;
                    }

                    .postMeta {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
