---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.post-header {
    padding-top: 50px;

    h1 {
        font-size: 2rem;
        font-weight: normal;
        color: #555;
    }
}

.postListWrap {
    padding: 2rem 0 5rem;

    .postList {

        ul {
            margin-bottom: .5rem;

            li {
                display: table;
                table-layout: fixed;
                width: 100%;
                padding: .2rem 0 .1rem;
                margin-top: .1rem;
                border-bottom: .1rem solid #ddd;

                &:first-child {
                    margin-top: 0;
                }

                a {
                    display: table-cell;
                    width: 80%;
                    padding-left: 1.5rem;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: left;
                    overflow: hidden;

                    &:hover {
                        color: #ccc;
                        text-decoration: none;
                    }
                }

                span {
                    display: table-cell;
                    width: 20%;
                    padding-right: 1.5rem;
                    font-size: 1.1rem;
                    text-align: right;
                }
            }
        }
    }

    p {
        font-size: 1.1rem;
        text-align: right;
        color: #999;
        padding-right: 1.5rem;

        a {
            color: #999;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}