<footer class="site-footer">
  <div class="wrapper">
    <div class="footerWrap">
      <div class="infoContnetsWrap">
        <div class="contents">
          <ul class="contactList">
            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-2x"></i> 
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/scripts/common.js"></script>
