/**
 * Reset some basic elements
 */
* {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
html {
    font-family: $base-font-family;
    font-size: 62.5%;
    font-weight: 200;
    -webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h5 {
    font-size: 100%;
}

/**
 * Images
 */
img,
fieldset {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
}

img {
    vertical-align: top;
}

address, 
em {
    font-style: normal;
    font-weight: normal;
}

label,
input,
select,
textarea {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
li {
    list-style: none;
}

/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: .4rem solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 1.8rem;
    letter-spacing: -.1rem;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

code, pre {
    font-family: "Consolas", "Menlo", "Monaco"," Courier", "monospace";
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {
    *zoom:1;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
