/**
 * Site header
 */
.headerWrapper {
    border-bottom: .1rem solid $grey-color-light;
    position: relative;
}

.headerWrap {
    display: table;
    table-layout: fixed;
    width: 100%;

    .mainTitle {
        display: table-cell;
        vertical-align: middle;
        padding: 1.4rem 0;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

    .siteGnbWrap {
        display: table-cell;
        vertical-align: middle;
        text-align: right;

        ul {
            font-size: 0;

            li {
                display: inline-block;
                text-align: center;

                a {
                    display: block;
                    padding: 1.9rem 1.6rem;
                    font-size: 2rem;
                    line-height: 1;
                    color: #999;

                    &:hover {
                        color: #666;
                        background-color: #ddd;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: .1rem solid $grey-color-light;
    padding: 1rem 0;
}

.footerWrap {
    text-align: center;

    .infoContnetsWrap {
        color: $grey-color;

        .contents {

            ul {
                @extend %clearfix;

                li {
                    display: inline-block;
                    margin-left: .5rem;
                    vertical-align: top;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        position: relative;
                        display: block;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%; 
                        background: #ddd;
                        text-align: center;

                        i {
                            color: #999;
                            padding-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}
